.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .overlap-wrapper {
  background-color: #ffffff;
  width: 1157px;
  height: 952px;
}

.desktop .overlap {
  position: relative;
  height: 952px;
  background-image: url(https://c.animaapp.com/4cpbHnjY/img/rectangle-61.svg);
  background-size: 100% 100%;
}

.desktop .overlap-group {
  position: absolute;
  width: 415px;
  height: 58px;
  top: 402px;
  left: 666px;
  background-color: #d9d9d9;
  border-radius: 50px;
}

.desktop .text-wrapper {
  position: absolute;
  width: 410px;
  height: 54px;
  top: 3px;
  left: 5px;
  opacity: 0.5;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .div-wrapper {
  position: absolute;
  width: 415px;
  height: 58px;
  top: 502px;
  left: 666px;
  background-color: #d9d9d9;
  border-radius: 50px;
}

.desktop .div {
  position: absolute;
  width: 412px;
  height: 54px;
  top: 3px;
  left: 3px;
  opacity: 0.5;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-2 {
  position: absolute;
  width: 416px;
  height: 58px;
  top: 602px;
  left: 666px;
}

.desktop .rectangle {
  position: absolute;
  width: 415px;
  height: 58px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  border-radius: 50px;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 411px;
  height: 52px;
  top: 5px;
  left: 5px;
  opacity: 0.5;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-3 {
  position: absolute;
  width: 415px;
  height: 58px;
  top: 802px;
  left: 666px;
  background-color: #a91919;
  border-radius: 50px;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 414px;
  height: 49px;
  top: 2px;
  left: 0;
  -webkit-text-stroke: 1px #000000;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-4 {
  position: absolute;
  width: 1157px;
  height: 174px;
  top: 0;
  left: 0;
}

.desktop .group {
  position: absolute;
  width: 1157px;
  height: 173px;
  top: 0;
  left: 0;
}

.desktop .overlap-group-2 {
  position: absolute;
  width: 1157px;
  height: 108px;
  top: 0;
  left: 0;
  background-color: #353535;
}

.desktop .rectangle-2 {
  position: absolute;
  width: 591px;
  height: 54px;
  top: 27px;
  left: 283px;
  background-color: #d9d9d9;
  border-radius: 50px;
}

.desktop .ellipse {
  position: absolute;
  width: 54px;
  height: 52px;
  top: 32px;
  left: 999px;
  background-color: #d9d9d9;
  border-radius: 27px/26px;
}

.desktop .ellipse-2 {
  position: absolute;
  width: 54px;
  height: 52px;
  top: 32px;
  left: 1082px;
  background-color: #d9d9d9;
  border-radius: 27px/26px;
}

.desktop .rectangle-3 {
  position: absolute;
  width: 1157px;
  height: 65px;
  top: 108px;
  left: 0;
  background-color: #d9d9d9;
}

.desktop .img {
  position: absolute;
  width: 447px;
  height: 65px;
  top: 108px;
  left: 0;
}

.desktop .rectangle-4 {
  position: absolute;
  width: 277px;
  height: 65px;
  top: 108px;
  left: 447px;
}

.desktop .rectangle-5 {
  position: absolute;
  width: 433px;
  height: 65px;
  top: 108px;
  left: 724px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 280px;
  height: 67px;
  top: 107px;
  left: 63px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-5 {
  position: absolute;
  width: 273px;
  height: 65px;
  top: 109px;
  left: 451px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-6 {
  position: absolute;
  width: 272px;
  height: 63px;
  top: 109px;
  left: 827px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .icono-usuario {
  position: absolute;
  width: 95px;
  height: 64px;
  top: 27px;
  left: 1062px;
  object-fit: cover;
}

.desktop .gratis-png-carrito {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 34px;
  left: 999px;
  object-fit: cover;
}

.desktop .image {
  width: 98px;
  height: 95px;
  top: 11px;
  left: 132px;
  position: absolute;
  object-fit: cover;
}

.desktop .text-wrapper-7 {
  position: absolute;
  width: 562px;
  height: 47px;
  top: 33px;
  left: 299px;
  opacity: 0.5;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .image-2 {
  width: 495px;
  height: 542px;
  top: 220px;
  left: 51px;
  position: absolute;
  object-fit: cover;
}

.desktop .overlap-5 {
  position: absolute;
  width: 412px;
  height: 48px;
  top: 807px;
  left: 63px;
  background-color: #d9d9d9;
}

.desktop .text-wrapper-8 {
  position: absolute;
  width: 412px;
  height: 43px;
  top: 4px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .ellipse-3 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 890px;
  left: 146px;
  background-color: #d9d9d9;
  border-radius: 15px;
}

.desktop .ellipse-4 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 890px;
  left: 208px;
  background-color: #d9d9d980;
  border-radius: 15px;
}

.desktop .ellipse-5 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 890px;
  left: 268px;
  background-color: #d9d9d980;
  border-radius: 15px;
}

.desktop .ellipse-6 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 890px;
  left: 328px;
  background-color: #d9d9d980;
  border-radius: 15px;
}

.desktop .ellipse-7 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 890px;
  left: 388px;
  background-color: #d9d9d980;
  border-radius: 15px;
}

.desktop .overlap-6 {
  position: absolute;
  width: 415px;
  height: 58px;
  top: 302px;
  left: 666px;
  background-color: #d9d9d9;
  border-radius: 50px;
}
